{% include 'dashboard/components/headerDashboard.twig' %}
{% include 'dashboard/components/menuDashboard.twig' %}
<div class="page">
    <main>
        <div class="breadcrumb grey lighten-3">
            <h6>Lista studenti</h6>
        </div>
        <div class="card custom-card">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nume</th>
                        <th>Prenume</th>
                        <th>Numar matricol</th>
                        <th>Informatii</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.lastname }}</td>
                        <td>{{ student.username }}</td>
                        <td><a href="{{ path_for('getStatsStudent') }}/{{ student.username }}" class="btn waves-effect waves-light">Detalii</a> </td>
                        <td><a href="{{ path_for('getGradesUserDashboard') }}/{{ student.username }}" class="btn waves-effect waves-light">Note</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% include 'dashboard/components/footerDashboard.twig' %}